In [51]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pylab as plt

1번

In [9]:
df0 = pd.read_csv('http://www.stat.tamu.edu/~sheather/book/docs/datasets/nyc.csv', encoding='latin1')
del df0['Case']
df = sm.add_constant(df0)
df.tail()

     const  Restaurant  Price  Food  Decor  Service  East
163    1.0        Baci     31    17     15       16     0
164    1.0     Puccini     26    20     16       17     0
165    1.0  Bella Luna     31    18     16       17     0
166    1.0     Métisse     38    22     17       21     0
167    1.0     Gennaro     34    24     10       16     0

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 168 entries, 0 to 167
Data columns (total 7 columns):
const         168 non-null float64
Restaurant    168 non-null object
Price         168 non-null int64
Food          168 non-null int64
Decor         168 non-null int64
Service       168 non-null int64
East          168 non-null int64
dtypes: float64(1), int64(5), object(1)
memory usage: 9.3+ KB

In [25]:
dfX = df.drop(['Price','Restaurant'], axis=1)

In [26]:
dfX.tail()

     const  Food  Decor  Service  East
163    1.0    17     15       16     0
164    1.0    20     16       17     0
165    1.0    18     16       17     0
166    1.0    22     17       21     0
167    1.0    24     10       16     0

In [27]:
dfy = df.filter(['Price'], axis=1)

In [28]:
dfy.tail()

     Price
163     31
164     26
165     31
166     38
167     34

In [29]:
model = sm.OLS(dfy, dfX)

In [30]:
result = model.fit()

2번

In [31]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.628
Model:                            OLS   Adj. R-squared:                  0.619
Method:                 Least Squares   F-statistic:                     68.76
Date:                Fri, 29 Jun 2018   Prob (F-statistic):           5.35e-34
Time:                        10:30:49   Log-Likelihood:                -529.36
No. Observations:                 168   AIC:                             1069.
Df Residuals:                     163   BIC:                             1084.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -24.0238      4.708     -5.102      0.000     -33.321     -14.727
Food           1.5381      0.369      4.169      0.000       0.810       2.267
Decor          1.9101      0.217      8.802      0.000       1.482       2.339
Service       -0.0027      0.396     -0.007      0.995      -0.785       0.780
East           2.0681      0.947      2.184      0.030       0.199       3.938
==============================================================================
Omnibus:                        5.180   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.075   Jarque-Bera (JB):                5.039
Skew:                           0.304   Prob(JB):                       0.0805
Kurtosis:                       3.591   Cond. No.                         357.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

가격에 가장 크게 영향을 미치는 변수는 Decor이다. 
Decor의 coef가 0이라는 귀무가설을 두고 P value 검정 결과 귀무가설은 기각되므로 Decor coef가 0일 확률은 적다.

3번

식당의 위치는 동쪽일수록 2달러 더 비싸다

4번

Service는 통계적으로 유의미하지 않은 독립변수이다.

5번

In [32]:
dfX = df.drop(['Price','Restaurant','Service'], axis=1)

In [33]:
dfX.tail()

     const  Food  Decor  East
163    1.0    17     15     0
164    1.0    20     16     0
165    1.0    18     16     0
166    1.0    22     17     0
167    1.0    24     10     0

In [34]:
dfy = df.filter(['Price'], axis=1)

In [35]:
dfy.tail()

     Price
163     31
164     26
165     31
166     38
167     34

In [36]:
model = sm.OLS(dfy, dfX)

In [37]:
result = model.fit()

In [38]:
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  Price   R-squared:                       0.628
Model:                            OLS   Adj. R-squared:                  0.621
Method:                 Least Squares   F-statistic:                     92.24
Date:                Fri, 29 Jun 2018   Prob (F-statistic):           5.10e-35
Time:                        10:37:46   Log-Likelihood:                -529.36
No. Observations:                 168   AIC:                             1067.
Df Residuals:                     164   BIC:                             1079.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const        -24.0269      4.673     -5.142      0.000     -33.253     -14.800
Food           1.5363      0.263      5.838      0.000       1.017       2.056
Decor          1.9094      0.190     10.049      0.000       1.534       2.285
East           2.0670      0.932      2.218      0.028       0.227       3.907
==============================================================================
Omnibus:                        5.191   Durbin-Watson:                   1.760
Prob(Omnibus):                  0.075   Jarque-Bera (JB):                5.053
Skew:                           0.305   Prob(JB):                       0.0799
Kurtosis:                       3.592   Cond. No.                         290.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

큰 변화 없음

- - -
6번

In [46]:
data = {
    "const":[1],
    "Food":[20],
    "Decor":[20],
    "East":[1],
}

columns = ["const","Food","Decor","East"]

new_X = pd.DataFrame(data, columns=columns)
new_X

   const  Food  Decor  East
0      1    20     20     1

In [49]:
new_y = result.predict(new_X)
new_y

0    46.954506
dtype: float64

약 47 달러일 것이다.

- - -
7번